
  .bg {
    /* The image used */
    background-image: url("Gradient-blue-1.webp");
    
    /* Center and scale the image nicely */
   /* background-position: center;
    background-repeat: no-repeat; */ 
    background-size: cover;

  }
.sidebar {
  height: 100%;
  width: 260px;
  position: absolute;
  //z-index: 0;
  //bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
  float: left;
}
.main {
  display: flex;
  margin-left: 260px; 
  padding: 0px 100px;
}

.topHeader{
    align-content: center;
    text-align: center;
    color: #D21A1A;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 900;
    font-size: 3.263em;
    line-height: 1.763em;
    border: thick black solid;
    background-color: lightblue;
    margin: 0;
      }

.headerRow{
    background-color: lightcyan;
    display: flex;
    align-content: center;
    text-align: center;
    height: 300px;

      }
figure {
    display: block;
    width: 202px;
    margin: 0px;
    padding: 15px;
    border: thick silver solid;
    text-align left; 
    background-color: lightcyan;

}

figure img {
    width: 200px;
    height: 250px;
    border: black solid;
    display: center;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin: 0.3em;   
  font-family: Helvetica; 
}

h3 {
    //font-family: Quicksand, Verdana, Arial, sans-serif;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
    font-weight: 900;
    padding-left: 10px;
    font-size: 1.563em;
    line-height: 1.263em;
    margin: 0;
    background-color: lightblue;
}

p {
    font-weight: 100;
    line-height: 1.2em;
    font-family: Comic Sans MS, Georgia, Arial, sans-serif;
    font-size: 1.085em;
    margin: 0.5em;
}
footer {
    align-content: center;
    text-align: center;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 500;
    font-size: 1.050em;
    line-height: 1.763em;
    border: thick black solid;
    background-color: lightblue;
    margin-left: 260px; 
    padding: 0px 100px;
}
a[href^=mailto] {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Oswald';
}
a:visited {
  color: red;
  text-decoration: none;

}
a:hover {
    color: blue;
}
a:link {
   text-decoration: none;
}
#img_format {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);